/*
 *
 * MMM-Buienradar
 *
 * stefannienhuis
 * ISC Licensed.
 *
 */

 .mapContainer {
/*   height: 310px;
   width: 310px; */
 }

.map {
   margin-left: -10px;
   margin-top: -11px;
/*   height: 330px;
   width: 330px; */
   overflow: hidden;
   border: none;
   -webkit-transform: scale(calc(310 / 330));
 }
