/*
 *
 * MMM-Buienradar
 *
 * stefannienhuis
 * ISC Licensed.
 *
 */

.mapContainer {
    height: 310px;
    width: 310px;
}

.map {
    margin-left: -10px;
    margin-top: -10px;
    height: 330px;
    width: 330px;
    overflow: hidden;
    border: none;
    transform: scale(calc(310 / 330));
    -webkit-transform: scale(calc(310 / 330));
}